@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

:root {
	/* hero spacing */
  --margin-above-logo: 20vh;
  --logo-height: 20vh;
  --margin-before-title: 10vh;
  --title-height: 15vh;
  --margin-before-arrow: 5vh;
  --arrow-height: 20vh;
}

html {
  scroll-behavior: smooth;
}

.section {
	padding-top: 60px;
	padding-bottom: 10px !important;
}

.home-page .section {
	padding-top: 80px !important;
}

.log-img {
	margin-top: var(--margin-above-logo);
	max-height: var(--logo-height);
}

.contact-icon {
	font-size: 25px;
	margin: 0 5px 0 5px;
}

/* to shift content because of navbar */

div.navigation {
  z-index: 99;
}
a.nav-link {
	font-size: 15px;
}

.top-menu {
	color: white !important;
}

.top-menu-item {
	color: white !important;
}

.--not-top {
	border-bottom: 0.5px rgba(0, 0, 0, 0.05) solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

@media (min-width: 767.98px) {
	#about {
		background-image: url(../images/raztrganina-siroka.jpg);
		background-size: auto 100%;
		background-position: center;
	}
}
@media (max-width: 767.98px) {
	#about {
		background-image: url(../images/raztrganina-visoka.jpg);
		background-size: cover;
		background-position: center;
	}
}
.img-about {
	max-width: 100%;
}
@media (min-width: 768px) {
	.img-about {
		width: 50%;
	}
}
.about-content>p {
	color: black;
}

@media (max-width: 768px) {
	ul {
		/* ul have no padding when very narrow screen */
		padding-inline-start: 0 !important;
	}
}

.content .post-image {
	width: 100%;
}

/* change colors */

.btn-transparent,
.form-control:focus,
::selection, 
a.text-dark:hover, 
.text-primary, 
.instagram-post ul a:hover,
.tag-list li a:hover,
a:hover {
  color: #f6980f !important;
}

a {
	color: #585757 !important;
}

::selection {
	color: white !important;
}

.btn-primary {
	background: #f6980f !important;
}

/* change fonts */
p, .paragraph, h1, h2, h3, h4, h5, h6, .btn, body {
	font-family: "Raleway", sans-serif !important;
}

p, .paragraph, li {
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	text-align: center;
	margin-top: 15px !important;
}

.item-title {
	font-size: 20px !important;
	margin-top: 0px !important;
}

h1 {
	font-size: 30px !important;
}

h2 {
	font-size: 15px !important;
}

h3 {
	font-size: 26px !important;
}

h4 {
	font-size: 24px !important;
}

h5 {
	font-size: 22px !important;
}

h6 {
	font-size: 20px !important;
}

/* for persons contributing in the making in post */
.persons {
	margin-top: 0px !important;
}

.hero-area {
	background-size: cover;
  height: 125vh;
  position: relative;
  justify-content: center;
  background-image: url("../images/hero-image.jpg");
  background-position: left bottom;
}

.hero-area-small {
	background-size: cover;
  height: 50vh;
  position: relative;
  justify-content: center;
  background-image: url("../images/hero-small.jpg");
  background-position: left bottom;
}

.subtitle-box {
	margin-top: 40px;
	background-color: #f6980f;
	border-radius: 25px;
	padding: 5px 20px 5px 20px;
	font-size: 20px;
	color: white;
	font-weight: 300;
	display: inline-block;
	text-align:center
}

.hero-title {
	margin-top: var(--margin-before-title);
	max-width: 100%;
	max-height: var(--title-height);
}

.hero-arow {
	margin-top: var(--margin-before-arrow);
	max-width: 100%;
	max-height: var(--arrow-height);
}

.content>div {
	margin-bottom: 0 !important;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}
.index-titles {
	color: inherit;
}

/* card images - zoom instead of strech */
.card-image {
    object-fit: cover;
}

/* card effect source: https://www.ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers */
/* next two are for zoom in on card hover */
a.custom-card img {
  -webkit-transition:all 1s ease; 
  -moz-transition:all 1s ease; 
  -o-transition:all 1s ease;
  -ms-transition:all 1s ease; 
}
a.custom-card:hover img {
  opacity: 0.7;
  -webkit-transform:scale(1.10);
  -moz-transform:scale(1.10);
  -ms-transform:scale(1.10);
  -o-transform:scale(1.10);
  transform:scale(1.10);
}
a.custom-card:hover {
	color: inherit !important;
}

.ow-hidden {
	overflow: hidden;
}

div.raztrgenina-ozka {
	height: 600px;
	background-size: auto 100%;
	background-image: url("../images/ozka-raztganina.jpg");
	background-position: center center;
}

.text-over-image {
	font-size: 35px; 
	font-weight: 800; 
	color: white;
	padding: 0;
	margin: 0;
}